<html>
  <body>
    <div class="container">
      <h1>Globie Daily Briefing</h1>

      <h3><%= day %></h3>

      <hr/>

      <h3>Language today is: <%= language %></h3>

      <hr/>

      <h2>Active Projects:</h2>

      <ul>
      <% for(var i=0; i<projects.length; i++) {%>
        <a href="<%= projects[i].url %>">
          <li>
            <h3><%= projects[i].name %></h3>
          </li>
        </a>
      <% } %>
      </ul>

      <hr/>

      <h2>Issues!</h2>

      <ul>
      <% for(var i=0; i<issues.length; i++) {%>
        <a href="<%= issues[i].html_url %>">
          <li>
            <h6>#<%= issues[i].id %>: <%= issues[i].repository.name %></h6>
            <h4><%= issues[i].title %></h4>
            <p><%= issues[i].body %></p>
          </li>
        </a>
      <% } %>
      </ul>

      <hr/>

      <p>Much love from Globie</p>

    </div>
  </body>
</html>